<div class="container mt-5">
  <h1>Game Result</h1>
  <h2>Your Random Letters</h2>
  <div class="alert alert-info mb-4">
    <%= @letters.join(" ") %>
  </div>

  <h3>Your Word: <%= @word %></h3>
  <h3>Score: <%= @score %></h3>
  <h3>Message: <%= @message %></h3>

  <%= link_to 'Try Again', new_path, class: 'btn btn-secondary mt-4' %>
</div>
